body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    flex-direction: column;
    background-color:rgb(33, 28, 66);
    background-image: linear-gradient(62deg, rgb(86, 101, 240) 0%, rgb(35, 31, 58) 100%); /*renk gecisini ayarlar*/
}


